* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: blanchedalmond;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.hero-section-genie {
  display: flex;
  flex: 1;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.hero-section-text {
  margin: auto;
  padding: 50px 0;
  width: 60%;
  text-align: center;
  background-color: white;
  border-radius: 24px;
}

.hero-section-text p {
  margin: auto;
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: coral;
}

.hero-section-genie img {
  height: 70%;
  width: 70%;
}

.footer-container {
  color: #eeeeee;
  height: fit-content;
  margin-top: 150px;
  padding: 30px;
  font-family: cursive;
  font-size: large;
  font-weight: 400;
  background-color: burlywood;
  overflow: hidden;
  line-height: 2rem;
}

.footer-container a {
  color: #eedffa;
  text-decoration: none;
}

.footer-container a:hover {
  color: slategray;
  text-decoration: none;
}

.footer-left {
  float: left;
  text-align: center;
  width: 33.3%;
  line-height: 0.8rem !important;
}

.footer-left p {
  font-size: smaller;
}

.footer-middle {
  float: left;
  text-align: center;
  width: 33.3%;
}

.footer-right {
  float: right;
  text-align: center;
  width: 33.3%;
}

.footer-logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #floating-genie {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite;
  animation: linear infinite;
  -webkit-animation-name: run;
  animation-name: run;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }
  98% {
    -webkit-transform: rotateY(180deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}

@keyframes run {
  0% {
    left: 0;
  }
  48% {
    transform: rotateY(0deg);
  }
  50% {
    left: calc(100% - 100px);
    transform: rotateY(180deg);
  }
  98% {
    transform: rotateY(180deg);
  }
  100% {
    left: 0;
    transform: rotateY(0deg);
  }
} */
