* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: blanchedalmond;
}

/* Quote cards */

.employee-quotes-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.quotes-list {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.quote-card {
  position: relative;
  background-color: bisque;
  border-radius: 10px;
  padding: 0.5rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.order-id {
  position: absolute;
  display: flex;
  /* margin: auto; */
  padding: 2px 5px;
  border-radius: 24px;
  background-color: blanchedalmond;
}

.order-id svg {
  margin: auto;
}

.order-amount {
  display: flex;
  margin: auto;
  margin-top: 0;
  padding: 2px 5px;
  border-radius: 24px;
  background-color: blanchedalmond;
}

.order-amount svg {
  margin: auto;
}

.order-status {
  position: absolute;
  right: 0.5rem;
  display: flex;
  /* margin: auto; */
  padding: 2px 5px;
  border-radius: 24px;
  background-color: blanchedalmond;
}

.order-status span {
  font-size: smaller;
}

.order-status-circle {
  flex: 1;
  margin: auto;
  margin-right: 5px;
  height: 8px;
  width: 8px;
  border: 0.2px solid black;
  border-radius: 100%;
  background-color: yellow;
}

.order-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-details {
  margin: auto;
  width: 60%;
  background-color: blanchedalmond;
  padding: 2px 5px;
  border-radius: 24px;
  line-height: 0.5rem;
}

.customer-name, .customer-city, .order-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 8px;
}

.quote-card i {
  padding-right: 5px;
  color: slategray;
}