* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: burlywood;
  color: white;
}

.navbar-container div, .navbar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.logo-image {
  height: 30px;
  width: auto;
}

.navbar-container a {
  color: #eedffa;
  text-decoration: none;
}

.navbar a {
  margin: 0 1rem;
  color: #eedffa;
  text-decoration: none;
}

.navbar a:hover {
  color: #7A50EF;
}

.navbar-auth-button {
  width: 70px;
  background-color: rgb(248, 210, 138);
  font-size: 16px;
  color: white;
  margin-right: 30px;
  padding: 5px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.navbar-auth-button:hover {
  background-color: wheat;
}
